<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Cube Grid</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <div class="cube big-cube">
    <div class="small-cubes">
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
    </div>
  </div>
  <div class="cube big-cube">
    <div class="small-cubes">
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
    </div>
  </div>
  <div class="cube big-cube">
    <div class="small-cubes">
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
    </div>
  </div>
  <div class="cube big-cube">
    <div class="small-cubes">
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
      <div class="small-cube"></div>
    </div>
  </div>
</div>
<script src="script.js"></script>
</body>
</html>
